@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-axs-blue: #0A0F1E;
  --color-axs-accent: #3B82F6;
  --color-axs-gold: #D4AF37;
}

body {
  background-color: var(--color-axs-blue);
  color: white;
  font-family: var(--font-sans);
}
